<footer class="bg-secondary" style="position: relative; width: 100%; height: 100px; bottom: -80%;">
    <hr>
    <p style="text-align: center; color: #fff;">Loja Popular - 2024</p>
    <br>
</footer>
</body>
</html>