
<nav class="navbar bg-body-tertiary" style="position: fixed; width: 100%; z-index: 1; top: 0;">
    <div class="container d-flex-inline">
        <a class="navbar-brand" href="/">
            <h3 class="text-primary">Loja Popular</h3>
        </a>
        

        <ul class="nav justify-content-end">
            <li class="nav-item">
            <a class="nav-link" href="/clientes">Clientes</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/pedidos">Pedidos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/produtos">Produtos</a>
            </li>
        </ul>
    </div>
</nav>